<div class="ic-Form-control">
  <%= f.label :shared_secret, t('Shared Secret'), class: 'ic-Label' %>
  <%= f.text_field :hmac_shared_secret, class: 'ic-Input' %>
</div>
<div class="ic-Form-control">
  <%= f.label :timestamp_range, t('Timestamp Range'), class: 'ic-Label' %>
  <%= f.text_field :hmac_timestamp_range, class: 'ic-Input' %>
</div>
<div class="ic-Form-control">
  <%= f.label :log_in_url, t('Login URL'), class: 'ic-Label' %>
  <%= f.text_field :log_in_url, class: 'ic-Input' %>
</div>
