<% @account_config = @account_configs.first %>
<% @account_config ||= @account.account_authorization_configs.new %>
<% form_id = @account_config.hmac_authentication? ? 'auth_form' : 'hmac_form' %>
<% active = @account_config.hmac_authentication? ? 'class="active"' : '' %>
<div id="hmac_div" <%= raw active %>>
<%= form_tag(context_url(@account, :context_update_all_authorization_configs_url), :method => :put, :id => form_id, :class => "auth_type hmac_form") do %>
  <%= fields_for :account_authorization_config, @account_config, :index => 0 do |f| %>
    <%= f.hidden_field :auth_type, :value => 'hmac' %>
    <%= f.hidden_field :id %>
    <table class="formtable" style="margin-left: 20px;">
      <tr>
        <td><%= f.blabel :auth_type, :en => "Type" %></td>
        <td>
          <span class="auth_form">
            <%= @account_config.auth_type || 'HMAC' %>
          </span>
          <span class="auth_info"><%= @account_config.auth_type || 'HMAC' %></span>
        </td>
      </tr>
      <tr>
        <td><%= f.blabel :shared_secret, :en => "Shared Secret" %></td>
        <td class="nobr">
          <%= f.text_field :hmac_shared_secret, :class => "auth_form", :style => "width: 450px;" %>
          <span class="auth_info"><%= @account_config.hmac_shared_secret %></span>
          <span class="auth_form" style="font-size: smaller;">
            <br><%= t(:shared_secret_description, "Shared Secret used for calculating Message Authentication Code.") %>
          </span>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top; width: 200px;"><%= f.blabel :timestamp_range, :en => "Timestamp Range" %></td>
        <td style="vertical-align: top;" class="nobr">
          <%= f.text_field :hmac_timestamp_range, :class => "auth_form", :style => "width: 300px;" %>
          <span class="auth_info"><%= @account_config.hmac_timestamp_range %></span>
          <span class="auth_form" style="font-size: smaller;">
            <br><%= t(:timestamp_range_description, "Allowable difference in Timestamp (in milliseconds).") %>
          </span>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top; width: 200px;"><%= f.blabel :log_in_url, :en => "Login URL" %></td>
        <td style="vertical-align: top;" class="nobr">
          <%= f.text_field :log_in_url, :class => "auth_form", :style => "width: 300px;" %>
          <span class="auth_info"><%= @account_config.log_in_url %></span>
          <span class="auth_form" style="font-size: smaller;">
            <br><%= t(:external_url_description, "External URL to be used for login") %>
          </span>
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <div class="form-actions">
            <span class="auth_form">
              <button type="button" class="btn cancel_button"><%= t("#buttons.cancel", "Cancel") %></button>
              <button type="submit" class="btn btn-primary"><%= t(:save_button, "Save HMAC Settings") %></button>
            </span>
          </div>
        </td>
      </tr>
    </table>
  <% end %>
<% end %>
</div>