<%
  root_accounts = Account.root_accounts.active.reject {|account| account.site_admin?}
%>
<!-- Had to include this here to work around the fact that dynamic properties overwrite the defaults -->
<input id="settings_worker" name="settings[worker]" type="hidden" value="CCWorker">
<fieldset>
  <legend><%= t(:external_urls_title, "External URLs")%></legend>
  <table class="formtable">
    <thead>
      <tr>
          <th><%= t(:root_account_label, "Root Account") %></th>
          <th><%= t(:cl_base_url_label, "Course Library Base URL") %></th>
          <th><%= t(:cl_integration_key_label, "Course Library Integration Key") %></th>
          <th><%= t(:cl_proxy_url_label, "Course Library Proxy URL") %></th>
          <th><%= t(:analytics_url_label, "Course Analytics URL") %></th>
      </tr>
    </thead>
    <tbody>
      <% root_accounts.each do |account| %>
        <% url_hash = (@settings[:account_external_urls] || {})[account.id.to_s] %>
        <% url_hash ||= {} %>
        <% form_path = "settings[account_external_urls][#{account.id}]" %>
        <tr>
          <td><%= account.name %></td>
          <td><input type="text" name="<%= form_path %>[cl_base_url]" class="value" value="<%= url_hash[:cl_base_url] %>"/></td>
          <td><input type="text" name="<%= form_path %>[cl_integration_key]" class="value" value="<%= url_hash[:cl_integration_key] %>"/></td>
          <td><input type="text" name="<%= form_path %>[cl_proxy_url]" class="value" value="<%= url_hash[:cl_proxy_url] %>"/></td>
          <td><input type="text" name="<%= form_path %>[analytics_url]" class="value" value="<%= url_hash[:analytics_url] %>"/></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</fieldset>

