<% fields_for :settings, OpenObject.new(settings) do |f| %>
  <table style="width: 500px;" class="formtable">
    <tr>
      <td><%= f.blabel :cl_base_url, :en => "Course Library Base URL" %></td>
      <td><%= f.text_field :cl_base_url%></td>
    </tr>
    <tr>
      <td><%= f.blabel :cl_integration_key, :en => "Course Library Integration Key" %></td>
      <td><%= f.text_field :cl_integration_key%></td>
    </tr>
    <tr>
      <td><%= f.blabel :cl_proxy_url, :en => "Course Library Proxy URL" %></td>
      <td><%= f.text_field :cl_proxy_url%></td>
    </tr>
    <tr>
      <td><%= f.blabel :analytics_url, :en => "Course Analytics URL" %></td>
      <td><%= f.text_field :analytics_url%></td>
    </tr>
  </table>
  <!-- Had to include this here to work around the fact that dynamic properties overwrite the defaults -->
  <input id="settings_worker" name="settings[worker]" type="hidden" value="CCWorker">
<% end %>
