<% js_bundle :link_content_dialog %>
<% css_bundle :select_content_dialog %>
<% only ||= nil # only is an optimization, so that tabs that aren't going to be used won't have their data loaded %>
<% is_admin = @current_user.account_admin?(@context) %>
<% cache([@context, @current_user, 'link_context_content_dialog', only].cache_key) do %>
  <div id="link_context_content_dialog" style="display: none;">
    <div style="<%= hidden if only && only.size == 1 %>">
      <a href="<%= context_url(@context, :context_external_tool_resource_selection_url, "{{ id }}") %>" id="select_content_resource_selection_url" style="display: none;">&nbsp;</a>
      <% ot :add_to_module, "Select %{item} for linking", :item => capture { %>
      <select id="add_module_item_select">
        <% if !only || only.include?(:assignments) %>
        <option value="assignment"><%= t :assignment_item, "Assignment" %></option>
        <% end %>
        <% if !only || only.include?(:quizzes) %>
        <option value="quiz"><%= t :quiz_item, "Quiz" %></option>
        <% end %>
        <% if !only || only.include?(:attachments) %>
        <option value="attachment"><%= t :file_item, "File" %></option>
        <% end %>
        <% if !only || only.include?(:module_items) %>
        <option value="module_item"><%= t :module_item, "Module Item" %></option>
        <% end %>
        <% if !only || only.include?(:wiki_pages) %>
        <option value="wiki_page"><%= t :content_page_item, "Content Page" %></option>
        <% end %>
        <% if !only || only.include?(:discussion_topics) %>
        <option value="discussion_topic"><%= t :discussion_item, "Discussion" %></option>
        <% end %>
      </select>
      <% } %>
    </div>
    <div style="margin: 10px 20px;">
      <% if !only || only.include?(:wiki_pages) %>
      <div id="wiki_pages_select" class="module_item_option" style="margin: 5px 20px;">
        <div style="font-size: 0.8em;">
          <i class="icon-document"></i>
          <%= t :wiki_page_notice, 'Select the wiki page you want to link to.' %>
        </div>
        <div style="margin-top: 5px;">
        <select class="module_item_select" multiple>
          <%# cache on the context.wiki instead of just the context because even though it will require a db query, we will get a much better cache hit rate %>
          <% cache([@context.wiki, 'active_wiki_pages']) do  %>
            <% @context.wiki.wiki_pages.active.select([:id, :title]).each do |page| %>
              <% if page && !page.new_record? %>
                <option value="<%= page.id %>"><%= page.title %></option>
              <% end %>
            <% end %>
          <% end %>
        </select>
        </div>
      </div>
      <% end %>
      <% if !only || only.include?(:attachments) %>
      <div id="attachments_select" class="module_item_option" style="margin: 5px 20px;">
        <div style="font-size: 0.8em;" id="file_select_label">
          <i class="icon-download"></i>
          <%= t :file_notice, 'Select the file you want to link to.' %>
        </div>
        <div style="margin-top: 5px;">
          <div id="module_item_select_file">
          </div>
        </div>
      </div>
      <% end %>
      <% if !only || only.include?(:quizzes) %>
      <div id="quizs_select" class="module_item_option" style="margin: 5px 20px;">
        <div style="font-size: 0.8em;">
          <i class="icon-quiz"></i>
          <%= t :quiz_notice, 'Select the quiz you want to link to.' %>
        </div>
        <div style="margin-top: 5px;">
        <select class="module_item_select" multiple>
          <% quizzes = @context.quizzes.active.limit(400) %>
          <% unless is_admin %>
              <% quizzes = DifferentiableAssignment.scope_filter(quizzes, @current_user, @context) %>
          <% end %>
          <% quizzes.each do |quiz| %>
            <option value="<%= quiz.id %>"><%= quiz.title %></option>
          <% end %>
        </select>
        </div>
      </div>
      <% end %>
      <% if !only || only.include?(:assignments) %>
      <div id="assignments_select" class="module_item_option" style="margin: 5px 20px;">
        <div style="font-size: 0.8em;">
          <i class="icon-assignment"></i>
          <%= t :assignment_notice, 'Select the assignment you want to link to.' %>
        </div>
        <div style="margin-top: 5px;">
        <select class="module_item_select" multiple>
          <% @context.assignment_groups.active.include_active_assignments.each do |group| %>
            <optgroup label="<%= group.name %>">
            <% assignments = group.active_assignments.no_graded_quizzes_or_topics.limit(200) %>
            <% unless is_admin %>
              <% assignments = DifferentiableAssignment.scope_filter(assignments, @current_user, @context) %>
            <% end %>
            <% assignments.each do |assignment| %>
              <option value="<%= assignment.id %>"><%= assignment.title %></option>
            <% end %>
            </optgroup>
          <% end %>
        </select>
        </div>
      </div>
      <% end %>

      <!--- BEGIN MODULE ITEMS -->
      <% if !only || only.include?(:module_items) %>
      <div id="module_items_select" class="module_item_option" style="margin: 5px 20px;">
        <div style="font-size: 0.8em;">
          <i class="icon-document"></i>
          <%= t :module_item_notice, 'Select the module item you want to link to.' %>
        </div>
        <div style="margin-top: 5px;">
        <select class="module_item_select" multiple>
          <% @context.context_modules.active.each do |mod| %>
            <optgroup label="<%= mod.name %>">
            <% mod.content_tags.each do |tag| %>
              <option value="<%= tag.id %>"><%= tag.title %></option>
            <% end %>
            </optgroup>
          <% end %>
        </select>
        </div>
      </div>
      <% end %>
      <!--- END MODULE ITEMS -->

      <% if !only || only.include?(:discussion_topics) %>
      <div id="discussion_topics_select" class="module_item_option" style="margin: 5px 20px;">
        <div style="font-size: 0.8em;">
          <i class="icon-discussion"></i>
          <%= t :topic_notice, 'Select the topic you want to link to.' %>
        </div>
        <div style="margin-top: 5px;">
        <select class="module_item_select" multiple>
          <% discussion_topics = @context.discussion_topics.active.only_discussion_topics.scoped({:limit => 200}) %>
          <% unless is_admin || !@context.is_a?(Course) %>
            <% discussion_topics = DifferentiableAssignment.scope_filter(discussion_topics, @current_user, @context) %>
          <% end %>
          <% discussion_topics.each do |topic| %>
            <option value="<%= topic.id %>"><%= topic.title %></option>
          <% end %>
        </select>
        </div>
      </div>
      <% end %>
    </div>
    <div class="button-container">
      <button type="button" class="cancel_button btn"><%= t "#buttons.cancel", "Cancel" %></button>
      <button type="button" class="add_item_button btn btn-primary"><%= t "#buttons.add_link", "Add Link" %></button>
    </div>
  </div>
<% end %>