<% add_crumb t('titles.help_setup', "Help Links") %>
<% @active_tab = "help_setup" %>
<% content_for :page_title do %><%= t('titles.help_setup', 'Help Links') %><% end %>

<% content_for :right_side do %>
<%= render :partial => 'shared/accounts_right_side_shared' %>
<% end %>

<% css_bundle :helpsetup %>
<% js_bundle :helpsetup %>

<h1>
  <%= t :page_header_title, 'Help Links' %>
</h1>
<div id="help_setup_container" style="display: none;">
  <%= form_tag context_url(@context, :context_helpsetup_url), :id => 'help_setup', :method => :put do %>
  <div id="help_link_container">        
    <fieldset>

      <div class="help_setup_link">
        <div>
          <p>Title</p>
          <input type="text" id="title" class="title" name="title" value="" maxlength="255"/>
        </div>  
        <div>
          <p>Link</p>
          <input type="text" id="url" class="url" name="url" value="" maxlength="255"/>
        </div>  
        <div>
          <p>Description</p>
          <input type="text" id="description" class="description" name="description" value="" maxlength="255"/>
        </div>
        <div>
          <div Class="x-column">
            <p>IDs</p>
            <input type="text" id="x_id" class="" name="x_id" value="" maxlength="255"/>
          </div>  
          <div Class="x-column right">
            <p>Classes</p>
            <input type="text" id="x_classes" class="" name="x_classes" value="" maxlength="255"/>
          </div>  
        </div>
        <div>
          <p>Javascript</p>
          <textarea id="javascript_txt" class="javascript_txt" name="javascript_txt" value="" maxlength="1000"></textarea>
        </div>  
      </div>        

    </fieldset>
  </div>
  <div class='button-container'>
    <button type="submit" class="btn save_button"><%= t '#buttons.save', "Save" %></button>
  </div>
  <% end %>
</div>

<fieldset>
  <table class="formtable">
    <thead>
      <tr>
        <th><%= t :title, 'Title' %></th>
        <th><%= t :url, 'URL' %></th>
        <th><!-- --></th>
        <th><!-- --></th>
      </tr>
    </thead>
    <tbody id="help_setup_links">
      <% if @help_setup[:help_setup_links].length == 0 %>
        <tr class="help_setup_link">
          <td><input type="text" disabled class="title" value=""/> </td>
          <td><input type="text" disabled class="url" value=""/></td>
        </tr>  
      <% end %>
      <% @help_setup[:help_setup_links].each do |option| %>
      <tr class="help_setup_link">
        <td><input type="text" disabled class="title" value="<%= option[:title] %>"/> </td>
        <td><input type="text" disabled class="url" value="<%= option[:url] %>"/></td>
        <td>
          <a href="#" id="<%= option.to_json %>" title="<%= t(:help_setup_link_edit, "Edit Link") %>" class="edit_help_setup_link"><i class="icon-edit standalone-icon"></i></a>
        </td>
        <td>
          <a href="#" id="<%= option.to_json %>" title="<%= t(:help_setup_link_delete, "Remove Link") %>" class="delete_help_setup_link"><i class="icon-end standalone-icon"></i></a>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</fieldset>

<a href="#" class="icon-add add_help_setup_link" style="font-size: 0.9em;"><%= t(:add_help_setup_link, "Add another link") %></a>