<div>
  {{#if da_enabled}}
    <p>
    {{#t "modal.notAllSectionsAssigned"}}Not all sections will be assigned this item.{{/t}}
    </p>
    {{#t "modal.goBackToInclude"}}Would you like to go back to include:{{/t}}
    <ul>
    {{#each sections}}<li><b>{{this}}</b></li>{{/each}}
    </ul>
  {{else}}
    {{#if checking_set_reply_assignment}}
      <p>
        {{#t "modal.disableGradeRepliesSeperatelyMessage"}}By unchecking the <b>Grade replies separately</b> option you will delete the paired replies assignment and all data associated with it.{{/t}}
      </p>
      <p>{{#t "modal.disableGradeRepliesSeperately?"}}Are you sure you want to delete the reply assignment?{{/t}}</p>
    {{else}}
      <p>
        {{#toSentence sections}}<b>{{this}}</b>{{/toSentence}}
        {{description}}
      <p>
      {{#t "modal.chooseDueDate"}}Do you want to go back and select a due date?{{/t}}
      </p>
    {{/if}}         
  {{/if}}

  <div class="button-container form-actions">
    <button type="button" class="btn">{{#t "buttons.goBack"}}Go Back{{/t}}</button>
    <button type="button" class="btn btn-primary">
      {{#if da_enabled}}
        {{#t "buttons.continue"}}Continue{{/t}}
      {{else}}   
        {{#if checking_set_reply_assignment}}
          {{#t "buttons.continue"}}Continue{{/t}}
        {{else}}   
          {{#t "buttons.noDueDate"}}No Due Date{{/t}}
        {{/if}}      
      {{/if}}
    </button>
  </div>
</div>
